.page {
  &-enter-active,
  &-leave-active {
    transition: all 0.2s;
  }

  &-enter {
    opacity: 0;
  }

  &-leave-to {
    opacity: 0;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
  }
}

.modal {
  transition: all .3s;

  .modal__container {
    transition: all .3s;
  }

  &-enter, &-leave-to {
    opacity: 0;

    .modal__container {
      transform: scale(1.05);
    }
  }

  &-enter-to, &-leave {
    opacity: 1;

    .modal__container {
      transform: scale(1);
    }
  }
}

.modalBottom {
  transition: all .3s;

  .modal__container {
    transition: all .3s;
  }

  &-enter, &-leave-to {
    opacity: 0;

    .modal__container {
      transform: translateY(100%);
    }
  }

  &-enter-to, &-leave {
    opacity: 1;

    .modal__container {
      transform: translateY(0);
    }
  }
}

@keyframes marquee {
  from    { transform: translate(100%); }
  100%,to { transform: translate(-100%); }
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}